{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{%static 'css/shop.css'%}">
  <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>

<div class="centerChoice">
<form method="POST">
    {% csrf_token %}
    <button class="buttonChoice">kontynuuj jako gość</button>
</form>

<a href="/loginSiteCart/"><button name="loginChoice" value="login_register" class="buttonChoice">zaloguj się bądź zarejestruj</button></a>

</div>
{% endblock %}

