{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{%static 'css/shop.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>

        <p class="footerText">Proces płatności jest bezpieczny i zgodny z najwyższymi standardami, zapewniając pełne bezpieczeństwo transakcji.<br>
            Realizacja zamówienia odbywa się szybko i sprawnie. <br>
            Dostępne są różne opcje dostawy.<br>
            Śledzenie przesyłki pozwala na bieżące monitorowanie statusu dostawy.</p>

{% endblock %}
