{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{%static 'css/shop.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>

<div class="loginForm">
    <b><p class="dataQuestion">Zmiana hasła</p></b>
    {% if validlink %}
    <p class="dataQuestion">Wprowadź nowe hasło dwa razy:</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="dataRegistration">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                <b><p class="error">{{ field.errors.as_text }}</p></b>
            {% endif %}
        </div>
    {% endfor %}
    <p><input type="submit" class="buttonContact" value="Zmień hasło" /></p>
    </form>
    {% else %}
    <p class="dataQuestion">Błąd linku. Prawdopodobnie był on już użyty lub czas jego wykorzystania minął.</p>
    {% endif %}
</div>
{% endblock %}