{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{%static 'css/shop.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>

<div class="containerLogin">
    {% if messages %}
        {% for message in messages %}
        <div class="custom-alert">
            {{message}}
            <button class="close-button" aria-label="Close">×</button>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="loginForm">
    <b><p class="dataQuestion">Zapomniałeś hasła?</p></b>
    <p class="dataQuestion">Podaj adres email, aby je zmienić:</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="dataRegistration">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                <b><p class="error">{{ field.errors.as_text }}</p></b>
            {% endif %}
        </div>
    {% endfor %}
    <p><input type="submit" class="buttonContact" value="wyślij wiadomość"></p>
    </form>
</div>
{% endblock %}
