{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{%static 'css/shop.css'%}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<div class="loginForm">
    <b><p class="dataQuestion">Zmiana hasła</p></b>
    <p class="dataQuestion">Na podany email wysłaliśmy wiadomość w celu zmiany hasła.</p>
    <p class="dataQuestion">Jeśli nie dostałeś wiadomości upewnij się, że wpisany adres był poprawny.</p>
    <p class="dataQuestion">Jeśli na dany adres email nie jest zarejestrowane konto, wiadomość nie zostanie dostarczona.</p>
</div>
{% endblock %}