{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

       <div class="allDiv strap">
              <a href="/ranking/" class="btnMargin"><button class="btnRanking">RANKINGI</button></a>
              <a href="/blog/" class="btnMargin"><button class="btnRanking">POSTY</button></a>
              <a href="/accountBlog/" class="btnMargin"><button class="btnRanking">PROFIL</button></a>
       </div>

<div class="containerItems">
    <div class="content">
        {% block contentMusic %}{% endblock contentMusic %}
    </div>
</div>

{% endblock content %}
